:root {
    --bg-primary: #282c34;
    --bg-secondary: #1f2228;
    --nav-button-bg: #373b41;
    --code-bg: #282c34;
    --text-primary: #abb2bf;
    --text-secondary: #828997;
    --bg-error: #a65757;
    --text-error: #fff;

    --bg-scrollbar: #373b41;
    --bg-scrollbar-thumb: #1f2228;
    --bg-scrollbar-thumb-hover: #232529;
}

html, body {
    background-color: var(--bg-primary);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    background-color: var(--bg-scrollbar);
    border-radius: 4px;
    width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg-scrollbar-thumb);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--bg-scrollbar-thumb-hover);
}

#error-popup {
    position: absolute;
    top: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    background-color: var(--bg-error);
    color: var(--text-error);
    border-radius: 4px;
    transition: all 0.5s ease;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: monospace;
    color: var(--text-primary);
    overflow: hidden;
}

nav {
    background: var(--bg-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

main {
    background: var(--bg-primary);
    padding: 1rem;
    display: grid;
    grid-template-rows: auto 1fr;
}

.code-nav {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--bg-secondary);
}

select {
    appearance: none;
    margin: 0;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    font-family: inherit;
    min-width: 10rem;
    user-select: none;

    background-color: var(--bg-secondary);
    color: var(--text-primary);
    border: none;
    border-radius: 4px;
    cursor: pointer;

    background-repeat: no-repeat;
    background-position: right 0.5rem center, left 0.5rem center;
    background-size: 1rem;
}

select:hover {
    opacity: 0.7;
}

#language {
    background-image: url("/assets/icons/arrow-down.png"), url("/assets/icons/language.png");
}

#style {
    background-image: url("/assets/icons/arrow-down.png"), url("/assets/icons/style.png");
}


.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.nav-button {
    background-color: var(--nav-button-bg);
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1rem;
    cursor: pointer;
}

.nav-button:hover {
    opacity: 0.7;
}

.nav-button:disabled {
    cursor: not-allowed;
    opacity: 0.2;
}

#title {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--text-primary);
    user-select: none;
}

#github {
    background-image: url(/assets/icons/github.svg);
}

#new {
    background-image: url(/assets/icons/new.png);
}

#edit {
    background-image: url(/assets/icons/edit.png);
}

#save {
    background-image: url(/assets/icons/save.png);
}

#delete {
    background-image: url(/assets/icons/delete.png);
}

#copy {
    background-image: url(/assets/icons/copy.png);
}

#raw {
    background-image: url(/assets/icons/raw.png);
}

.nav-button.loading {
    background-image: url(/assets/icons/loading.gif) !important;
}

#code {
    margin: 0;
}

#code-show {
    border-radius: 4px;
    padding: 0.5rem;
    width: 0;
    height: 0;
    min-width: 100%;
    min-height: 100%;
    overflow: auto;
}

#code-edit {
    color: var(--text-primary);
    background-color: transparent;
    resize: none;
    padding: 0.5rem;
    border-radius: 4px;
    tab-size: 4;
    white-space: pre;
    width: 100%;
    border: none;
    outline: none;
}

.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: right;
    border-right: 1px solid var(--text-secondary);
    padding-right: 0.3rem !important;
}

.hljs-ln-code {
    padding-left: 0.3rem !important;
}
