:root {
    --bg-error: #a65757;
    --text-error: #fff;
}

.dark {
    --bg-primary: #282c34;
    --bg-secondary: #1f2228;
    --nav-button-bg: #373b41;
    --text-primary: #c8cdd3;
    --text-secondary: #828997;
    --bg-scrollbar: #373b41;
    --bg-scrollbar-thumb: #1f2228;
    --bg-scrollbar-thumb-hover: #232529;

    --arrow-down: url("/assets/icons/dark/arrow-down.png");
    --copy: url("/assets/icons/dark/copy.png");
    --delete: url("/assets/icons/dark/delete.png");
    --edit: url("/assets/icons/dark/edit.png");
    --github: url("/assets/icons/dark/github.svg");
    --language: url("/assets/icons/dark/language.png");
    --new: url("/assets/icons/dark/new.png");
    --raw: url("/assets/icons/dark/raw.png");
    --save: url("/assets/icons/dark/save.png");
    --style: url("/assets/icons/dark/style.png");
    --share: url("/assets/icons/dark/share.png");
    --close: url("/assets/icons/dark/close.png");
    --version: url("/assets/icons/dark/version.png");
    --theme: url("/assets/icons/dark/theme.png");
}

.light {
    --bg-primary: #fafafa;
    --bg-secondary: #ebecef;
    --nav-button-bg: #d1d5da;
    --text-primary: #282c34;
    --text-secondary: #1f2228;
    --bg-scrollbar: #ebecef;
    --bg-scrollbar-thumb: #d4d5dc;
    --bg-scrollbar-thumb-hover: #c3c8ce;

    --arrow-down: url("/assets/icons/light/arrow-down.png");
    --copy: url("/assets/icons/light/copy.png");
    --delete: url("/assets/icons/light/delete.png");
    --edit: url("/assets/icons/light/edit.png");
    --github: url("/assets/icons/light/github.svg");
    --language: url("/assets/icons/light/language.png");
    --new: url("/assets/icons/light/new.png");
    --raw: url("/assets/icons/light/raw.png");
    --save: url("/assets/icons/light/save.png");
    --style: url("/assets/icons/light/style.png");
    --share: url("/assets/icons/light/share.png");
    --close: url("/assets/icons/light/close.png");
    --version: url("/assets/icons/light/version.png");
    --theme: url("/assets/icons/light/theme.png");
}

html {
    background-color: var(--bg-primary);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    background-color: var(--bg-scrollbar);
    border-radius: 1rem;
    width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg-scrollbar-thumb);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--bg-scrollbar-thumb-hover);
}

#error-popup {
    position: absolute;
    top: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    background-color: var(--bg-error);
    color: var(--text-error);
    border-radius: 1rem;
    transition: all 0.5s ease;
}

#share-dialog {
    color: var(--text-primary);
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--bg-secondary);
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

.share-dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.share-dialog-header h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

#share-dialog-close {
    background-image: var(--close);
}

.share-dialog-main {
    display: flex;
    gap: 1rem;
    align-items: flex-end;
    justify-content: space-between;
}

.share-dialog-permissions {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    width: fit-content;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: monospace;
    overflow: hidden;
}

header {
    background: var(--bg-secondary);
    display: flex;
    row-gap: 1rem;
    align-items: center;
    height: 4rem;
}

#nav-btn {
    display: none;
}

#title {
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--text-primary);
    user-select: none;
}

.hamb {
    cursor: pointer;
    margin-left: auto;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    height: 4rem;

    display: flex;
    align-items: center;
}

.hamb span {
    position: relative;
    height: 2px;
    width: 2rem;
    background-color: var(--text-primary);
}

.hamb span::before,
.hamb span::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all .2s ease-out;
    background-color: var(--text-primary);
}

.hamb span::before {
    top: 6px;
}

.hamb span::after {
    top: -6px;
}

#nav-btn:checked ~ nav {
    overflow-x: auto;
    height: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#nav-btn:checked ~ .hamb span {
    background: transparent;
}

#nav-btn:checked ~ .hamb span::before {
    transform: rotate(-45deg);
    top: 0;
}

#nav-btn:checked ~ .hamb span::after {
    transform: rotate(45deg);
    top: 0;
}

nav {
    position: fixed;
    top: 4rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    padding: 0 1rem 0 1rem;
    height: 0;
    border-top: 1px solid var(--bg-primary);
    overflow: hidden;
    background-color: var(--bg-secondary);
    transition: height 0.2s ease-out, padding-top 0.2s ease-out;
}

.button, button {
    flex-shrink: 0;
    border: none;
    border-radius: 1rem;
    width: 2rem;
    height: 2rem;
    background-color: var(--nav-button-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1rem;
    cursor: pointer;
    color: var(--text-primary);
}

#share-copy {
    width: fit-content;
    padding: 0.5rem;
}

.button:hover, button:hover {
    filter: opacity(0.7);
}

.button:disabled, button:disabled {
    cursor: not-allowed;
    filter: opacity(0.2);
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.error {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.error h1 {
    font-weight: bolder;
}

.error-details {
    text-align: start;
}

.error p {
    color: var(--bg-error);
}

.error a {
    color: var(--text-primary);
}

.settings {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    overflow-x: auto;
    border-bottom: 1px solid var(--bg-secondary);
    padding: 1rem;
}

.settings .first {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.settings .first > * {
    flex-shrink: 0;
}

.settings > * {
    flex-shrink: 0;
}

#theme-toggle {
    display: none;
    user-select: none;
}

#theme-toggle + label {
    margin-left: 1rem;
    border: none;
    border-radius: 1rem;
    width: 2rem;
    height: 2rem;
    background-image: var(--theme);
    background-color: var(--nav-button-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1rem;
    cursor: pointer;
    user-select: none;
}

#theme-toggle + label:hover {
    background-color: var(--nav-button-bg-hover);
}

select {
    appearance: none;
    padding: 0.5rem 1.5rem 0.5rem 0.5rem;
    font-family: inherit;
    user-select: none;
    min-width: 8rem;

    color: var(--text-primary);
    border: none;
    border-radius: 1rem;
    cursor: pointer;

    background-color: var(--bg-secondary);
    background-repeat: no-repeat;
    background-position: right 0.5rem center, left 0.5rem center;
    background-size: 1rem;
}

select:hover {
    filter: opacity(0.7);
}

select:disabled {
    cursor: not-allowed;
    filter: opacity(0.2);
}

#language {
    background-image: var(--arrow-down);
}

#style {
    background-image: var(--arrow-down);
}

#version {
    background-image: var(--arrow-down);
}

#github {
    background-image: var(--github);
}

#new {
    background-image: var(--new);
}

#edit {
    background-image: var(--edit);
}

#save {
    background-image: var(--save);
}

#delete {
    background-image: var(--delete);
}

#copy {
    background-image: var(--copy);
}

#raw {
    background-image: var(--raw);
}

#share {
    background-image: var(--share);
}

.loading {
    background-image: url(/assets/icons/loading.gif) !important;
}

#code {
    flex-grow: 1;
    margin: 0;
}

#code-view {
    width: 0;
    height: 0;
    min-width: 100%;
    min-height: 100%;
    overflow: auto;
    padding: 1em;
    display: block;
}

#code-view > .ch-line {
    counter-increment: line-counter;
}

#code-view > .ch-line::before {
    content: counter(line-counter);
    display: inline-block;
    width: 2rem;
    text-align: right;
    margin-right: 1rem;
    color: var(--text-secondary);
}

#code-view:first-child {
    counter-reset: line-counter;
}

#code-edit {
    color: var(--text-primary);
    background-color: transparent;
    flex-grow: 1;
    resize: none;
    padding: 0.5rem;
    border-radius: 1rem;
    -moz-tab-size: 4;
    tab-size: 4;
    white-space: pre;
    width: 100%;
    border: none;
    outline: none;
}

#code-edit + label {
    color: var(--text-primary);
    height: 1rem;
    text-align: right;
    user-select: none;
}

#code-edit + label.error {
    color: var(--bg-error)
}

@media (min-width: 32rem) {
    nav {
        display: inline-flex;
        margin-left: auto;
        width: fit-content;
        height: 4rem;
        border: none;

        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 0;
        position: relative;
        top: unset;
        background-color: transparent;
    }

    .hamb {
        display: none;
    }

    select {
        padding: 0.5rem 2rem 0.5rem 2rem;
    }

    #language {
        background-image: var(--arrow-down), var(--language);
    }

    #style {
        background-image: var(--arrow-down), var(--style);
    }

    #version {
        background-image: var(--arrow-down), var(--version);
    }
}

.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: right;
    border-right: 1px solid var(--text-secondary);
    padding-right: 0.3rem !important;
}

.hljs-ln-code {
    padding-left: 0.3rem !important;
}
