{{ template "head.gohtml" . }}
<body>
{{ template "header.gohtml" . }}
<main class="error">
    <h1>Oops!</h1>
    <div>
        <h2>Something went wrong:</h2>
        <p>{{ . }}</p>
        <h3>
            Try again later.
            <br/>
            Or create an issue on <a href="https://github.com/TopiSenpai/gobin/issues/new">GitHub</a>
        </h3>
    </div>
</main>
<script src="/assets/theme.js" async></script>
</body>
</html>