<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Gobin - {{ . }}}</title>
    <link rel="stylesheet" href="/assets/style.css">

    <link rel="icon" href="/assets/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Hastebin is a simple, lightweight pastebin written in Go">
</head>

<body>
<div>
    Error: {{ . }}
</div>
</body>
</html>