<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>gobin - Error</title>
    <link rel="stylesheet" href="/assets/style.css">

    <link rel="icon" href="/assets/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<nav>
    <a id="title" class="nav-container" href="/">gobin</a>
    <div class="nav-container">
        <a title="GitHub" id="github" class="nav-button" href="https://github.com/TopiSenpai/gobin" target="_blank"></a>
        <button title="Save" id="save" class="nav-button" disabled="disabled"></button>
        <a title="New" id="new" class="nav-button" href="/" target="_blank"></a>
        <button title="Edit" id="edit" class="nav-button" disabled="disabled"></button>
        <button title="Delete" id="delete" class="nav-button" disabled="disabled"></button>
        <button title="Copy" id="copy" class="nav-button" disabled="disabled"></button>
        <button title="Raw" id="raw" class="nav-button" disabled="disabled"></button>
    </div>
</nav>
<main class="error">
    <h1>Oops!</h1>
    <div>
        <h2>Something went wrong:</h2>
        <p>{{ . }}</p>
        <h3>
        Try again later.
        <br/>
        Or create an issue on <a href="https://github.com/TopiSenpai/gobin/issues/new">GitHub</a>
        </h3>
    </div>

</main>
</body>
</html>